.booking-container {
  max-width: 500px;
  margin: 30px auto;
  padding: 20px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
  text-align: center;
  font-size: 20px;
}

.booking-container p {
  margin: 15px 0;
  font-weight: bold;
  color: #303832;
}

.confirm-btn {
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #5aa872;
  border: none;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.confirm-btn:hover {
  background-color: #5aa872;
}

.confirmed-msg {
  margin-top: 10px;
  color: #2c3e50;
  font-weight: bold;
}

.react-datepicker {
  border-radius: 10px;
  border: 2px solid #5aa872;
}

.react-datepicker__header {
  background-color: #5aa872;
  border-bottom: none;
  border-radius: 10px 0 0;
}

.react-datepicker__day--selected {
  background-color: #5aa872;
  color: white;
}

.react-datepicker__day:hover {
  background-color: #5aa872;
  cursor: pointer;
}

.react-datepicker__time-list-item {
  padding: 8px 12px;
}

.react-datepicker__time-list-item--selected {
  background-color: #5aa872;
  color: white;
}

.react-datepicker__time-list-item:hover {
  background-color: #5aa872;
  cursor: pointer;
}


